<app-content [title]="pageTitle">
  <div class="row">
    <div class="col-md-4">
      <address>
        <strong>Best Data, Inc.</strong><br>
        795 Lancelot Ave, Suite 600<br>
        Kaduna, Nigeria<br>
      </address>
        <dl>
          <dt class="m-t-20">Email:</dt>
          <dd><a href="mailto:lisa@bestdata.io">lisa@bestdata.io</a></dd>
          <dd><a href="mailto:support@bestdata.io">support@bestdata.io</a></dd>
          <dt class="m-t-20">Phone Number:</dt>
          <dd>Lisa: +234708000000</dd>
          <dd>Support: +2349060000000</dd>
          <dt class="m-t-20">Connect with us on:</dt>
          <dd>Facebook, Twitter and Instagram <a role="button">@bestdata</a></dd>
        </dl>
    </div>
    <div class="col-md-6">
      <img src="assets/img/contact-us.jpg" alt="" class="img-responsive">
    </div>
  </div>
</app-content>
