h1,h4 {
  font-weight: 500;
}
.media-list {
  padding-top: 8px;
  font-size: 12px;
}

.media:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.table {
  font-size: 12px;
}
